{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

        <div class="col-md-9">
            <h1>Research Data Download</h1>
            <p class="lead">
                This site  contains research data released by the
                NIHR Leicester Biomedical Research Unit and the
                University of Leicester Cardiovascular Sciences
                department.
            </p>
            <p>
                Please select a link from the list of studies on the left.
            </p>
        </div>

{% endblock %}
